
adaptive-arp-impl-android/.idea/workspace.xml

adaptive-arp-impl-android/out/
adaptive-arp-impl-android/adaptive-arp-api/

adaptive-arp-rt-android/.idea/uiDesigner.xml
*.name
*.iml
*.xml

adaptive-arp-impl-android/.gradle/

adaptive-arp-impl-android/arp-impl-android/build/