<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.adaptive.arp" >

    <!-- Network*|Video -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Video -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Allows an application to access coarse (e.g., Cell-ID, WiFi) location-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Allows an application to access fine (e.g., GPS) location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Phone Call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Sends SMS -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!-- Phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <!--uses-feature android:name="android.hardware.telephony" android:required="false"/-->
    <!--uses-feature android:name="android.hardware.camera" android:required="false"/-->
    <!--uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/-->
    <!--uses-feature android:name="android.hardware.location" android:required="false"/-->
    <!--uses-feature android:name="android.hardware.location.network" android:required="false"/-->
    <!--uses-feature android:name="android.hardware.location.gps" android:required="false"/-->

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.Material"
            android:exported="false" ><!--NoTitleBar.Fullscreen-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.adaptive.arp.MainActivity" />
        </activity>
        <activity
            android:name=".BrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_browser"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.Material"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.adaptive.arp.MainActivity" />
        </activity>



        <receiver
            android:name=".impl.NetworkStatusReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
